@media (max-width: 480px) {
    form {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .imgCara p {
        font-weight: bold;
        font-size: 30px;
        text-align: center;
    }
}